@{
    ViewData["Title"] = "Movie List";
    var parms = new Dictionary<string, string>
            {
                { "name", "Eduardo" },
                { "numTimes", "5" }
            };
}

<h2>My movie List</h2>

<p>Hello from our View Templyyyate!</p>
<p>Hola mundo 1</p>
<p>hola mundo 2</p>
<p>Hola mundo 3</p>
<a class="btn btn-primary" asp-controller="HelloWorld" asp-action="Welcome" asp-all-route-data="parms">Boton Welcome</a>
