@model MvcMovies.Models.MovieGenreViewModel
@{
    ViewData["Title"] = "Index";
}

<!-- Modal add-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addModalLabel">Agregar Peliculas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="$('#btnCancelCreate').resetValidation()"></button>
            </div>
            <div class="modal-body">
                <partial name="_Create" for="Movie"/>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div>
    </div>
</div>

<!-- Modal edit-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModallLabel">Editar Peliculas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="$('#btnCancelEdit').resetValidation()"></button>
            </div>
            <div class="modal-body">
                <div id="partialEdit">
                    <partial name="_Edit" for="Movie" />
                </div>               
            </div>
            @*<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div>
    </div>
</div>

<h1>Index</h1>

<button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#addModal">
    Crear Nuevo
</button>
@*<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>*@
@using (Html.AjaxBeginForm("Search", null, new AjaxOptions
{
    HttpMethod="Post",
    InsertionMode=InsertionMode.Replace,
    UpdateTargetId = "MovieList"
},new{ })
)
{
    <div class="row pb-2" id="searchForm">
        <div class="col-2">
            <select asp-for="MovieGenre" asp-items="Model.Genres" class="form-select">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-5 d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="SearchString">
            <button class="btn btn-outline-success" type="submit" onclick="">Search</button>
        </div>
    </div>
}

@*<div class="row pb-2" id="searchForm">
    <div class="col-2">
        <select asp-for="MovieGenre" asp-items="Model.Genres" class="form-select">
            <option value="">All</option>
        </select>
    </div>
    <div class="col-5 d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="SearchString">
        <button class="btn btn-outline-success" type="button" onclick="searchList()">Search</button>
    </div>
</div>*@

<div id="MovieList">
    <partial name="_MovieList" for="Movies"/>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function(){

            
            
        });
        function onSuccedAction(formidden){
            $('#' + formidden).click();
        }
        //function searchList(){

        //    //debugger;
        //    var movieGenre = $('#searchForm select[name="MovieGenre"]').val();
        //    var searchString = $('#searchForm input[type=search],[name="SearchString"]').val();
        //    $.ajax({
        //        url: "/Movies/Search",
        //        type: 'post',
        //        async: true,
        //        data: "movieGenre=" + movieGenre + "&searchString=" + searchString,
        //        //complete: function () {
        //        //    hideLoading();
        //        //},
        //        //beforeSend: function () {
        //        //    showLoading();
        //        //},
        //        success: function (data) {
        //            $('#MovieList').html(data);
        //        },
        //        error: function (error) {
        //            //notifyError(error.statusText);
        //            console.log(error);
        //            alert("Error:" + error.responseText);
        //        }
        //    });
        //}
        function editMovie(object) {
            debugger;
            //console.log(object);
            var data = JSON.parse(object.dataset.model);
            console.log(data);
            $("#editForm [name='Movie.Id']").val(data.Id);
            $("#editForm [name='Movie.Title']").val(data.Title);
            $("#editForm [name='Movie.Rating']").val(data.Rating);
            $("#editForm [name='Movie.ReleaseDate']").val(data.ReleaseDate);
            $("#editForm [name='Movie.Genre']").val(data.Genre);
            $("#editForm [name='Movie.Price']").val(data.Price);
        }
        
    </script>
}


